body{
    margin-top: 30px;
    height: 1200px;
 }
 h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
 }
 h1:hover {
    color: blue;
 }
 #photoGirl {
    width: 360px;
    height: 500px;
    float: left;
 
    margin: 0;
    margin-left: 10%;
 }
 div {
    float: left;

    margin-top: 10%;
    border: 1px solid blueviolet;
    padding: 30px;
    width: 300px;
    margin-left: 20%;
 }
 form {
    background-color: green;
    width: 250px;
    height: 60px;
    font-family: monospace;
    font-size: 1.1.em;
    color: white;
    border: 2px solid black;
    margin: auto;
    padding: 15px;
 }
 
 .borderRadius {
    border-radius: 25px;
    border-color: red;
 }
 .colorForm {
    background-color: orange;
 }